    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    /* navbar */
    
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    #navbar .nav ul {
        display: flex;
    }
    
    #navbar .left {
        display: flex;
        align-items: center;
    }
    
    #navbar .nav ul li:nth-child(1) {
        display: none;
    }
    
    #navbar .nav ul li a {
        padding: 1.5rem;
        font-weight: 600;
        color: black;
    }
    
    #navbar .right span i {
        cursor: pointer;
        color: black;
        font-size: 18px;
        margin: 0 10px;
    }
    
    #navbar .right span i:hover {
        color: #029c64;
    }
    
    #navbar .right button {
        padding: 10px 17px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        background-color: #282A35;
        border-radius: 25px;
        margin: 0 6px;
        border: none;
        cursor: pointer;
    }
    
    #navbar .right button:nth-child(2):hover {
        background-color: #212229;
    }
    
    #navbar .right button:nth-child(3) {
        color: black;
        background-color: #ffc0c7;
    }
    
    #navbar .right button:nth-child(3):hover {
        background-color: #fcb6be;
    }
    
    #navbar .right button:nth-child(4) {
        color: black;
        background-color: #fff4a3;
    }
    
    #navbar .right button:nth-child(4):hover {
        background-color: #faed8e;
    }
    
    #navbar .right button:nth-child(5) {
        color: white;
        background-color: #04aa6d;
        padding: 10px 35px;
    }
    
    #navbar .right button:nth-child(5):hover {
        background-color: #029c64;
    }
    
    @media (max-width:560px) {
        #navbar .nav ul li {
            display: none;
        }
        #navbar .nav ul li:nth-child(1) {
            display: block !important;
        }
        #navbar .right button:nth-child(2),
        #navbar .right button:nth-child(3),
        #navbar .right button:nth-child(4) {
            display: none;
        }
    }
    
    @media (min-width:560px) and (max-width:990px) {
        #navbar .nav ul li {
            display: none;
        }
        #navbar .right button:nth-child(2),
        #navbar .right button:nth-child(3),
        #navbar .right button:nth-child(4) {
            display: none;
        }
        #navbar .nav ul li:nth-child(1) {
            display: block !important;
        }
    }
    
    @media (min-width:990px) and (max-width:1150px) {
        #navbar .nav ul li:nth-child(5) {
            display: none;
        }
        #navbar .right button:nth-child(2),
        #navbar .right button:nth-child(3) {
            display: none;
        }
        #navbar .nav ul li:nth-child(1) {
            display: none;
        }
    }
    
    @media (min-width:1150px) and (max-width:1290px) {
        #navbar .nav ul li:nth-child(5) {
            display: none;
        }
        #navbar .right button:nth-child(2) {
            display: none;
        }
        #navbar .nav ul li:nth-child(1) {
            display: none;
        }
    }
    /* Home section */
    
    #home {
        display: block;
        position: relative;
        height: 90vh;
        align-items: center;
        background-color: #282A35;
    }
    
    #home .content {
        text-align: center;
        align-items: center;
        transform: translateY(16vh)
    }
    
    #home h1 {
        font-size: 65px;
        color: whitesmoke;
    }
    
    #home svg {
        position: absolute;
        bottom: 0;
    }
    
    #home h3 {
        font-size: 21px;
        color: #ffc0c7;
        margin: 1rem 0;
    }
    
    #home input {
        width: 30%;
        padding: 15px;
        margin: 1rem 0;
        margin-bottom: 3rem;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    
    #home a {
        font-size: 22px;
        color: white;
        text-decoration: underline;
    }
    
    #home a:hover {
        color: #04aa6d;
    }
    
    #home input:focus {
        outline: none;
    }
    
    #home button i {
        font-size: 20px;
    }
    
    #home button {
        padding: 15px 40px;
        color: whitesmoke;
        background-color: #04aa6d;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    /* responsive section */
    
    @media (max-width:560px) {
        #home h1 {
            font-size: 55px;
        }
        #home h3 {
            font-size: 17px;
        }
        #home input {
            width: 300px;
        }
        #home a {
            font-size: 16px;
        }
        #home button {
            width: 10px;
            /* padding: 14px 40px; */
            padding-left: 20px;
        }
        .search {
            display: none;
        }
    }
    /* HTML section */
    
    #html {
        padding-top: 100px;
        display: flex;
        background-color: #D9EEE1;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .course .left {
        width: 50%;
        text-align: center;
    }
    
    .course .left h1 {
        font-size: 70px;
    }
    
    .course .left h4 {
        font-weight: 600;
    }
    
    .course .left button {
        width: 200px;
        padding: 13px 15px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 25px;
        border: none;
        margin-bottom: 1.3rem;
        cursor: pointer;
    }
    
    .course .left button:nth-child(4) {
        background-color: #04aa6d;
        color: white;
    }
    
    .course .left button:nth-child(6) {
        background-color: #fff4a3;
    }
    
    .course .left button:nth-child(8) {
        background-color: #282A35;
        color: white;
    }
    
    #html .left button:nth-child(10) {
        background-color: #ffc0c7;
    }
    
    .course .left button:nth-child(4):hover {
        background-color: #03925e;
        color: white;
    }
    
    .course .left button:nth-child(6):hover {
        background-color: #fcef8d;
    }
    
    .course .left button:nth-child(8):hover {
        background-color: #1e1f25;
    }
    
    #html .left button:nth-child(10):hover {
        background-color: #fdabb5;
    }
    
    .course .right {
        width: 50%;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
    }
    
    .course .right .card {
        background-color: #e0e0e0;
        width: 90%;
        height: 70vh;
        padding: 13px;
        box-shadow: 0px 0px 10px rgb(180, 180, 180);
        border-radius: 4px;
    }
    
    .course .right .card .code {
        margin-top: 1rem;
        width: 99%;
        height: 45vh;
        background-color: rgb(243, 243, 243);
        border-left: 4px solid #029c64;
    }
    
    .course .right .card h1 {
        font-weight: 600;
    }
    
    .course .right .code {
        padding: 1rem;
        font-size: 15px;
    }
    
    .course .right .code div {
        line-height: 21px;
    }
    
    .course .right button {
        width: 200px;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 25px;
        border: none;
        margin-top: 1rem;
        cursor: pointer;
    }
    
    .course .right button {
        background-color: #04aa6d;
        color: white;
    }
    
    .course .right button:hover {
        background-color: #03925e;
        color: white;
    }
    /* CSS section */
    
    #css {
        padding-top: 100px;
        display: flex;
        height: 100%;
        padding-bottom: 100px;
        background-color: #fff4a3;
    }
    
    #css .left button:nth-child(6) {
        color: white;
        background-color: #282A35;
    }
    
    .course .left button:nth-child(6):hover {
        background-color: #1e1f25;
    }
    
    #css .left button:nth-child(8) {
        color: black;
        background-color: #ffc0c7;
    }
    
    #css .left button:nth-child(8):hover {
        background-color: #fdabb5;
    }
    
    #css .right .card {
        height: 65vh;
    }
    
    #css .right .card .code {
        height: 43vh;
    }
    
    #css .right .card .code div {
        line-height: 22px;
        font-size: 12px;
    }
    
    #css .right .card h1 {
        color: black;
    }
    /* Javascript section */
    
    #js {
        display: flex;
        background-color: #282A35;
        height: 100%;
        padding: 100px 0;
        color: white;
    }
    
    #js .left button:nth-child(6) {
        color: rgb(0, 0, 0);
        background-color: #fff4a3;
    }
    
    #js .left button:nth-child(6):hover {
        background-color: #fff189;
    }
    
    #js .left button:nth-child(8) {
        color: black;
        background-color: #ffc0c7;
    }
    
    #js .left button:nth-child(8):hover {
        background-color: #fdabb5;
    }
    
    #js .right .card h1 {
        color: black;
    }
    
    #js .right .card {
        height: 62vh;
        box-shadow: none;
    }
    
    #js .right .card .code {
        height: 40vh;
    }
    
    #js .left h1 {
        font-size: 60px;
    }
    
    #js .right .card .code div {
        font-size: 14px;
    }
    /* python section */
    
    #python {
        display: flex;
        height: 100%;
        padding: 100px 0;
        background-color: rgb(251, 235, 237);
    }
    
    #python .left button:nth-child(6) {
        color: white;
        background-color: #282A35;
    }
    
    #python .left button:nth-child(6):hover {
        background-color: #1e1f25;
    }
    
    #python .left button:nth-child(8) {
        color: black;
        background-color: #ffc0c7;
    }
    
    #python .left button:nth-child(8):hover {
        background-color: #fdabb5;
    }
    
    #python .right .card {
        height: 58vh;
        box-shadow: none;
    }
    
    #python .right .card .code {
        height: 36vh;
    }
    
    #python .left h1 {
        font-size: 60px;
    }
    
    #python .right .card .code div {
        font-size: 14px;
    }
    /* sql section */
    
    #sql {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 100px 0;
        background-color: rgba(145, 202, 196, 0.761);
    }
    
    #sql .left button:nth-child(6) {
        color: white;
        background-color: #282A35;
    }
    
    #sql .left button:nth-child(6):hover {
        background-color: #1e1f25;
    }
    
    #sql .left button:nth-child(8) {
        color: black;
        background-color: #ffc0c7;
    }
    
    #sql .left button:nth-child(8):hover {
        background-color: #fdabb5;
    }
    
    #sql .right .card {
        height: 58vh;
        box-shadow: none;
    }
    
    #sql .right .card .code {
        height: 36vh;
    }
    
    #sql .left h1 {
        font-size: 60px;
    }
    
    #sql .right .card .code div {
        font-size: 14px;
    }
    /* responsive section */
    
    @media (max-width:610px) {
        #html,
        #css,
        #js,
        #python,
        #sql {
            display: block;
        }
        .course .left {
            width: 100%;
        }
        .course .right {
            display: none;
        }
    }
    
    @media (min-width:610px) and (max-width:995px) {
        #html,
        #css,
        #js,
        #python,
        #sql {
            display: block;
        }
        .course .left {
            width: 100%;
        }
        .course .right {
            display: block;
        }
        .course .right .card {
            margin-top: 2rem;
            width: 170%;
            height: 68vh;
        }
        .course .right .card .code {
            margin-top: 1rem;
            width: 100%;
            height: 45vh;
        }
    }
    /* Courses Section */
    
    #courses {
        background-color: #282A35;
        padding: 70px 0;
    }
    
    #courses .row-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    
    #courses .row-1 .card h1 {
        font-size: 40px;
        margin: 10px 0;
    }
    
    #courses .row-1 .card h6 {
        font-size: 15px;
        font-weight: 400;
        color: rgb(45, 45, 45);
        margin: 10px 0;
    }
    
    #courses .row-1 .card button {
        padding: 10px;
        width: 200px;
        border: none;
        border-radius: 25px;
        background-color: #282A35;
        color: white;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 1.5rem;
    }
    
    #courses .row-1 .card button:hover {
        background-color: #1d1f26;
    }
    
    #courses .row-1 .card {
        margin: 30px 6%;
        /* width: 90%;
        height: 45vh; */
        padding: 70px 10px;
        border-radius: 5px;
        display: block;
    }
    
    #courses .row-1 .card:nth-child(1) {
        background-color: #ffc0c7;
    }
    
    #courses .row-1 .card:nth-child(2) {
        background-color: #FFF4A3;
    }
    
    #courses .row-1 .card:nth-child(3) {
        background-color: #f3ecea;
    }
    
    #courses .row-1 .card:nth-child(4) {
        background-color: #D9EEE1;
    }
    
    #courses .row-1 .card:nth-child(5) {
        background-color: #96D4D4;
    }
    
    #courses .row-1 .card:nth-child(6) {
        background-color: #E7E9EB;
    }
    
    #courses .row-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        margin: 0 1.5%;
    }
    
    #courses .row-2 button {
        margin: 30px 12%;
        width: 80%;
        height: 60%;
        padding: 30px 0;
        border-radius: 5px;
        border: none;
        background-color: #ffc0c7;
        cursor: pointer;
    }
    
    #courses .row-2 button:nth-child(1),
    #courses .row-2 button:nth-child(2),
    #courses .row-2 button:nth-child(31),
    #courses .row-2 button:nth-child(32),
    #courses .row-2 button:nth-child(33),
    #courses .row-2 button:nth-child(34),
    #courses .row-2 button:nth-child(35),
    #courses .row-2 button:nth-child(36) {
        grid-column-start: span 2;
        width: 90%;
        margin: 30px 6%;
    }
    
    #courses .row-2 button:nth-child(6),
    #courses .row-2 button:nth-child(11),
    #courses .row-2 button:nth-child(16),
    #courses .row-2 button:nth-child(21),
    #courses .row-2 button:nth-child(26),
    #courses .row-2 button:nth-child(33) {
        background-color: #ffc0c7;
    }
    
    #courses .row-2 button:nth-child(6):hover,
    #courses .row-2 button:nth-child(11):hover,
    #courses .row-2 button:nth-child(16):hover,
    #courses .row-2 button:nth-child(21):hover,
    #courses .row-2 button:nth-child(26):hover,
    #courses .row-2 button:nth-child(33):hover {
        background-color: #ffa3ae;
    }
    
    #courses .row-2 button:nth-child(2),
    #courses .row-2 button:nth-child(7),
    #courses .row-2 button:nth-child(12),
    #courses .row-2 button:nth-child(17),
    #courses .row-2 button:nth-child(22),
    #courses .row-2 button:nth-child(27),
    #courses .row-2 button:nth-child(32) {
        background-color: #FFF4A3;
    }
    
    #courses .row-2 button:nth-child(2):hover,
    #courses .row-2 button:nth-child(7):hover,
    #courses .row-2 button:nth-child(12):hover,
    #courses .row-2 button:nth-child(17):hover,
    #courses .row-2 button:nth-child(22):hover,
    #courses .row-2 button:nth-child(27):hover,
    #courses .row-2 button:nth-child(32):hover {
        background-color: #fdef86;
    }
    
    #courses .row-2 button:nth-child(3),
    #courses .row-2 button:nth-child(8),
    #courses .row-2 button:nth-child(13),
    #courses .row-2 button:nth-child(18),
    #courses .row-2 button:nth-child(23),
    #courses .row-2 button:nth-child(28),
    #courses .row-2 button:nth-child(34) {
        background-color: #F3ECEA;
    }
    
    #courses .row-2 button:nth-child(3):hover,
    #courses .row-2 button:nth-child(8):hover,
    #courses .row-2 button:nth-child(13):hover,
    #courses .row-2 button:nth-child(18):hover,
    #courses .row-2 button:nth-child(23):hover,
    #courses .row-2 button:nth-child(28):hover,
    #courses .row-2 button:nth-child(34):hover {
        background-color: #d8c7c3;
    }
    
    #courses .row-2 button:nth-child(4),
    #courses .row-2 button:nth-child(9),
    #courses .row-2 button:nth-child(14),
    #courses .row-2 button:nth-child(19),
    #courses .row-2 button:nth-child(24),
    #courses .row-2 button:nth-child(29),
    #courses .row-2 button:nth-child(35) {
        background-color: #D9EEE1;
    }
    
    #courses .row-2 button:nth-child(4):hover,
    #courses .row-2 button:nth-child(9):hover,
    #courses .row-2 button:nth-child(14):hover,
    #courses .row-2 button:nth-child(19):hover,
    #courses .row-2 button:nth-child(24):hover,
    #courses .row-2 button:nth-child(29):hover,
    #courses .row-2 button:nth-child(35):hover {
        background-color: #c0efd2;
    }
    
    #courses .row-2 button:nth-child(5),
    #courses .row-2 button:nth-child(10),
    #courses .row-2 button:nth-child(15),
    #courses .row-2 button:nth-child(20),
    #courses .row-2 button:nth-child(25),
    #courses .row-2 button:nth-child(30),
    #courses .row-2 button:nth-child(31),
    #courses .row-2 button:nth-child(36) {
        background-color: #96D4D4;
    }
    
    #courses .row-2 button:nth-child(5):hover,
    #courses .row-2 button:nth-child(10):hover,
    #courses .row-2 button:nth-child(15):hover,
    #courses .row-2 button:nth-child(20):hover,
    #courses .row-2 button:nth-child(25):hover,
    #courses .row-2 button:nth-child(30):hover,
    #courses .row-2 button:nth-child(31):hover,
    #courses .row-2 button:nth-child(36):hover {
        background-color: #81d2d2;
    }
    /* responsive */
    
    @media (max-width:600px) {
        #courses .row-1,
        #courses .row-2 {
            display: block;
            text-align: center;
            overflow: hidden;
        }
        #courses .row-2 button {
            grid-column-start: span 4;
            width: 86%;
            margin: 10px 0;
        }
        #courses .row-2 button {
            margin: 10px 0%;
            width: 86%;
            height: 60%;
            padding: 30px 0;
        }
    }
    
    @media (min-width:600px) and (max-width:800px) {
        #courses .row-2 button {
            grid-column-start: span 2;
            margin-left: 20px;
            padding: 30px 0;
        }
        #courses .row-2 button:nth-child(1),
        #courses .row-2 button:nth-child(2),
        #courses .row-2 button:nth-child(31),
        #courses .row-2 button:nth-child(32),
        #courses .row-2 button:nth-child(33),
        #courses .row-2 button:nth-child(34),
        #courses .row-2 button:nth-child(35),
        #courses .row-2 button:nth-child(36) {
            grid-column-start: span 4;
            width: 90%;
            height: 80%;
            margin: 1px 20px;
        }
    }
    /* js styles */
    
    #cartBody #htm,
    #cartBody #cs,
    #cartBody #js1,
    #cartBody #py,
    #cartBody #sql1,
    #cartBody #php,
    #cartBody #jq,
    .offcanvas-footer {
        border: 1px solid green;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        margin: 5px 0px;
    }
    
    .offcanvas-footer {
        display: flex;
        justify-content: space-between;
        border: none;
        border-top: 4px solid rgb(3, 32, 3);
        transform: translateX(-10px);
        padding: 15px;
    }